*{
  box-sizing: border-box;
}

html {
  height: 100%;
  padding: 0px;
}

body {
  background: #ccc;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

canvas {
  height: 100%;
  background-color: red;
}